<script>
import Container from 'src/components/Container.vue'
import { defineComponent, reactive } from 'vue'
import { useLocalNotes } from 'src/helper'
import { useRouter } from 'vue-router'
export default defineComponent({
  components: { Container },
  name: 'PageNew',
  setup () {
    const router = useRouter()
    const notes = useLocalNotes()
    const note = reactive({
      title: '',
      description: '',
      content: ''
    })
    const submit = () => {
      notes.value.unshift({
        ...note,
        createdAt: Date.now(),
        updatedAt: Date.now()
      })
      router.push('/')
      note.title = ''
      note.description = ''
      note.content = ''
    }
    return { note, submit }
  }
})
</script>

<template>
  <q-page padding>
    <Container>
     <form @submit="submit">
      <div class="row items-center justify-between">
      <h3>Create yours</h3>
          <div class="q-mt-md">
            <q-btn color="grey" to="/" round type="reset" icon="close"> </q-btn>
            <q-btn round class="q-ml-sm" color="positive" icon="check" type="submit"> </q-btn>
          </div>
      </div>

        <q-input class="q-mt-md" v-model="note.title" label="Title" borderless />

        <q-input class="q-mt-sm" v-model="note.description" label="Caption" />

        <q-card flat bordered class="q-mt-sm">
          <q-editor v-model="note.content" min-height="10rem" />
        </q-card>

      </form><br><br>
    </Container>
  </q-page>
</template>
