<script>
/* eslint-disable */
import Container from 'src/components/Container.vue'
import NoteCard from 'src/components/NoteCard.vue'
import { useLocalNotes } from 'src/helper'
import { defineComponent } from 'vue'
import { useRouter } from 'vue-router'
export default defineComponent({
	components: { NoteCard, Container },
	name: 'PageIndex',
	data() {
		const notes = useLocalNotes()
		const router = useRouter()
		return { 
			router, 
			notes, 
			weatherData: null, 
			lat: null, 
			lon: null,
			apiUrl: 'https://api.openweathermap.org/data/2.5/weather',
			apiKey: "cffd372aa3c277d0250a226f81fa2c79"
			}
		},
		methods: { 
			getLocation() {
				navigator.geolocation.getCurrentPosition
				(position => {
					console.log('position: ', position)
					this.lat = position.coords.latitude
					this.lon = position.coords.longitude
					this.getWeatherByCoords()
				})
			},
			getWeatherByCoords() {
				this.$axios(`${ this.apiUrl }?lat=${ this.lat }&lon=${ this.lon }&appid=${ this.apiKey }&units=metric`).then(response => {
				this.weatherData = response.data
			})
		}
	}
})
</script>

<template>
	<q-page padding>
		<Container>
		<div class="row items-center justify-between">
			<h3>Hi, You!</h3>
			<template v-if="weatherData">
			  <div class="col text-right"><img :src ="`http://openweathermap.org/img/wn/${ weatherData.weather[0].icon }@2x.png`" width="65"></div>
			</template>
			<template v-else="weatherData">
			  <div class="col text-right"></div>
			</template>
			<q-separator inset />
			<div>
				<q-btn round color="warning" icon="add" to="/create"></q-btn>
			</div>
		</div>

		<template v-if="weatherData">
		 <div>Today is {{ weatherData.weather[0].main }} with {{ Math.round(weatherData.main.temp) }}&deg;C temp in {{ weatherData.name }}</div><br>
		</template>

		<template v-else="weatherData">
		 <div class="row items-center justify-between">Wish you are fine today<br>
		 <q-btn flat>
		   <q-icon @click="getLocation" size="1.2em" name="my_location" />
		 </q-btn></div>
		</template>

		<div class="q-mt-md">
		<NoteCard 
			v-for="({ title, description, content }, idx) in notes"
			:key="idx"
			:title="title"
			:description="description"
			:content="content"
			@click="router.push(`/saved/${idx}`)" />
		</div>
			
		<div v-if="notes.length === 0">There is no note. Create a new one!</div>
    	</Container>
	</q-page>
<br><br>
</template>
