<script>
import { computed, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useLocalNotes } from 'src/helper'
import Container from 'src/components/Container.vue'
export default {
  components: { Container },
  data () {
    const notes = useLocalNotes()
    const route = useRoute()
    const noteId = computed(() => parseInt(route.params.id))
    const note = computed(() => notes.value[noteId.value])
    const router = useRouter()
    const remove = () => {
      notes.value.splice(noteId.value, 1)
      router.push('/')
    }
    const editing = ref(false)
    return { note, editing, remove }
  }
}
</script>

<template>
  <q-page padding>
    <Container>
      <div v-if="editing">
        <form @submit="editing = false">
        <div class="row items-center justify-between">
          <h3>Edit memo</h3>
          <div class="q-mt-md">
            <q-btn color="grey" to="/" round type="back" icon="close"> </q-btn>
            <q-btn class="q-ml-sm" round color="positive" icon="check" type="submit"> </q-btn>
          </div>
        </div>
          <q-input class="q-mt-md" v-model="note.title" label="Title" />
          <q-input v-model="note.description" label="Caption" class="q-mt-sm" />

          <q-card flat bordered class="q-mt-sm">
            <q-editor v-model="note.content" min-height="10rem" />
          </q-card>

        </form>
      </div>

      <div v-else>
        <br><br>
        <div class="row items-center justify-between">
          <h3 class="q-mb-md q-mt-md"><b>{{ note.title }}</b></h3>
          <div>
            <q-btn round color="warning" icon="edit" @click="editing = true" />
            <q-btn class="q-ml-sm" round color="red" icon="delete" @click="remove" />
          </div>
        </div>
        <div>
          <h6 class="q-mb-md q-mt-md"> {{ note.description }}</h6>
        </div>
        <q-separator inset />
        <div class="q-mt-md" v-html="note.content" /><br><br>
      </div>
    </Container>
  </q-page>
</template>
