<template>
  <q-card
    flat bordered class="q-mb-sm cursor-pointer"
    @click="$emit('click', $event)">
    <q-card-section class="q-pt-xs">
        <div class="text-h5 q-mt-sm q-mb-xs">
            <b>{{ title }}</b>
        </div>
        <div class="text-h6 q-mt-sm q-mb-xs text-black">
            {{ description }}
        </div>
        <div class="text-caption text-grey">
            {{ content }}
        </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: {
    title: String,
    description: String,
    content: String
  }
}
</script>
