// app global css in SCSS form
/// define font-family
@font-face {
  font-family: 'qanelas';
  src: url('/fonts/Qanelas-Medium.woff2') format('woff2'),
	url('/fonts/Qanelas-Medium.woff') format('woff');
}
	
	@font-face {
	font-family: 'qanelas';
	src: url('/fonts/Qanelas-RegularItalic.woff2') format('woff2'),
	url('/fonts/Qanelas-RegularItalic.woff') format('woff');
	font-style: italic;
	}

	/*@font-face {
		font-family: 'qanelas';
		src: url('/fonts/Qanelas-Bold.woff2') format('woff2'),
		url('/fonts/Qanelas-Bold.woff') format('woff');
		font-style: bold;
		}*/

	body{
		font-family: 'qanelas';
	}