<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-black">
      <q-toolbar>
        <q-toolbar-title>
            <div class="text-center self-center">
               <img src='/icons/mymemo-logo.png' width="110">
            </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>
